@media screen and (max-width: 992px) {
    .content .container-panel {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "sideBare sideBare ContentPanel ContentPanel ContentPanel ContentPanel ContentPanel ContentPanel ContentPanel ContentPanel ContentPanel ContentPanel "
        ;
    }

    .content .container-panel .box-content-panel {
        margin: 0 20px;
    }

    .content .container-panel .box-content-panel .content-panel table .post-title {
        width: 250px;
        line-height: 1.4;
    }
    
}

@media screen and (max-width: 768px) {
    /* ----- Start Style container-panel ----- */
    .content .container-panel {
        grid-template-rows: 117px auto;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "sideBare sideBare sideBare sideBare sideBare sideBare sideBare sideBare sideBare sideBare sideBare sideBare "
        "ContentPanel ContentPanel ContentPanel ContentPanel ContentPanel ContentPanel ContentPanel ContentPanel ContentPanel ContentPanel ContentPanel ContentPanel "
        ;
    }
    
    /* --- start sideBare Style --- */
    .content .container-panel .side-bare {
    }
    /* --- End sideBare Style --- */

    .btn-panel {
        padding: 7px 10px;
    }
    /* ----- End Style container-panel ----- */
}


@media screen and (max-width: 568px) {
    /* ----- Start Style container-panel ----- */
    
    /* --- start sideBare Style --- */
    .content .container-panel .side-bare {
    }
    /* --- End sideBare Style --- */

    .content .container-panel .box-content-panel .content-panel table .post-title {
        width: 200px;
    }
    /* ----- End Style container-panel ----- */
}