@media screen and (min-width: 1440px) {
    
}

@media screen and (max-width: 1200px) {
    .container {
        width: 992px !important;
        max-width: 100%;

    }
    /* ---- Start Header Style ---- */

    /* ---- End Header Style ---- */

    
    /* ---- Start Présentation Style ---- */
    .presentation .container .img-box {
        
    }

    .presentation .container .info-box {
        width: 500px;
    }

    /* ---- End Présentation Style ---- */


}

@media screen and (max-width: 992px) {
    .container {
        width: 768px !important;
        max-width: 100%;

    }

    /* ---- Start Header Style ---- */
    header .container .menu {
        display: none;
    }

    header .container .nav-bar-phone {
        display: block;
    }

    header .container .nav-bar-phone .menu-phone .li-article {
        padding: 10px 40px 10px 20px;
        margin: 0;
    }
    
    header .container .nav-bar-phone .menu-phone .li-article:hover span {
        color: #EC0DFD;
    }
    header .container .nav-bar-phone .menu-phone .li-article:hover .last-ul {
        display: block !important;
        right: 100%;
        top: 0;
    }

    header .container .li-article .last-ul .last-li a:hover {
        padding: 10px 0 !important;
    }

    /* ---- End Header Style ---- */

    /* ---- Start Présentation Style ---- */
    .presentation .container .img-box {
        
    }

    .presentation .container .info-box {
        width: 100%;
    }

    /* ---- End Présentation Style ---- */

}

@media screen and (max-width: 768px) {
    .container {
        width: 100% !important;
        max-width: 100%;
    }
    /* ---- Start Header Style ---- */
    /* --- Start Logo Style --- */
    header .container .logo-box h1 {
        font-size: calc(var(--font-primary) + 10px);
    }
    /* --- End Logo Style --- */

    header .container .nav-bar-phone .menu-phone {
        right: -10px;
    }
    /* ---- End Header Style ---- */

    /* --------------- Start Style Login Page ------------------ */
    .login .container-login {
        
    }
    /* --------------- End Style Login Page ------------------ */

    /* --------------- Start Style Register Page -------------- */
    .register-body .register {
        width: 510px;
    }

    .register-body .register .container-register {
        width: 90%;
    }

    .register-body .register .container-register h3 {
        font-size: 22px;
    }
    /* --------------- End Style Register Page -------------- */

    /* ----------- Start Style users table admin page Page ------------- */
    .user-table-box .container .table-users {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .user-table-box .container .table-users thead {
        width: 150px;
        border-bottom: 4px solid #362F4B;
        border-top: 4px solid #362F4B;
    }

    .user-table-box .container .table-users tr {
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .user-table-box .container .table-users  td {
        padding: 15px 10px;
        width: 100%;
    }

    .user-table-box .container .table-users tbody td {
        text-align: right;
    }

    .user-table-box .container .table-users .delete-user-box {
        border-bottom: 1px solid #333;
    }
    /* -------------- End Style users table admin page Page -------------- */

    /* -------------- Start style Contact -------------- */
    .main-heading h2 {
        font-size: 23px !important;
    }
    
    .main-heading p {
        font-size: 15px !important;
        padding: 40px 10px 0;
    }

    main .contact .container {
        width: 100%;
    }

    main .contact .container .content {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 20px;
        row-gap: 40px;
    }

    main .contact .container .content .form {
        width: 100%;
    }

    main .contact .container .content .info {
        width: 100%;
        text-align: center;
        align-items: center;
        row-gap: 30px;
    }
    /* -------------- End style Contact -------------- */

    /* -------------- Start style Articles Page -------------- */
    .post-categorie .content .container {
        padding: 70px 10px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "sidebar sidebar sidebar  sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
        "content content content content content content content content content content content content";
        gap: 30px;
    }

    .post-categorie .content .container .sidebar .last-posts ul {
        flex-direction: row;
        gap: 20px;
    }

    .post-categorie .content .container .sidebar .last-posts .last-post {
        width: 32%;
    }

    .post-categorie .content .container .sidebar .last-post span {
        font-size: clamp(.9em, 40%, 1.1em);
    }
    /* -------------- End style Articles Page -------------- */

}

@media screen and (max-width: 576px) {
    :root {
        --font-primary: 1.1em;
        --font-secondary: 1em;
    }
    
    /* --------------- Start Style Login Page ------------------ */
    .login .container-login {
        margin: 10px;
    }

    .login .container-login .row-box {
        flex-direction: column;
        gap: 20px;
    }
    
    .login .container-login .row-box li {
        width: 100%;
    }

    /* --------------- End Style Login Page ------------------ */
    
    
    /* ----------- Start Style users table admin page Page ------------- */
    .user-table-box .container .table-users {
        font-size: .9em;
        overflow: auto;
    }

    .user-table-box .container .table-users thead {
        width: 120px;
        border-bottom: 6px solid #362F4B;
        border-top: 6px solid #362F4B;
    }



    .user-table-box .container .table-users tbody tr td {
        padding: 15px 5px;
    }




    /* -------------- End Style users table admin page Page -------------- */
    }

@media screen and (max-width: 420px) {
    :root {
        --font-primary: 1em;
    }
    
    /* ---- Start Header Style ---- */
    /* --- Start Logo Style --- */
    header .container .logo-box h1 {
        
    }
    /* --- End Logo Style --- */

    /* ---- End Header Style ---- */

}

@media screen and (max-width: 320px) {
    :root {
        --font-primary: .9em;
    }

    /* --------------- Start Style Login Page ------------------ */
    .login .container-login {
        width: 100%;
    }
    /* --------------- End Style Login Page ------------------ */
    
    
}